.weeks-section {
  .container-404 {
    text-align: center;
    .title-404 {
      font-size: 8rem;
    }
  }
}

@include tablet {
  .weeks-section {
    .container-404 {
      .title-404 {
        font-size: 14vw;
      }
    }
  }
}

@include desktop {
  .weeks-section {
    .container-404 {
      .title-404 {
        font-size: 11rem;
      }
    }
  }
}